body{
    background-color: rgb(67, 85, 100);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
div{
    padding: 15px;
    margin: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}
#parrafo1{
 font-size: 25px;
color: rgb(107, 155, 209);
}
button{
background-color: slategray;
color: rgb(46, 103, 177);
border: rgb(174, 146, 211);
border-radius: 15px;
transition: 2s;
}
button:hover{
background-color: rgb(139, 121, 204);
transform: rotate(10deg);
transition: 5s;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    color: cornflowerblue;
}
    


